@model IEnumerable<FSAWebSystem.Models.Proposal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Propose FSA</h1>
</div>

<div class="card shadow mb-4 pt-4 pl-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableProposal" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Banner</th>
                        <th>Plant Name</th>
                        <th>PC Map</th>
                        <th>Description Map</th>
                        <th>RR</th>
                        <th>Monthly Bucket</th>
                        <th>Current Bucket</th>
                        <th>Next Week Bucket</th>
                        <th>Valid + BJ</th>
                        <th>REM FSA</th>
                        <th>Rephase</th>
                        <th>Propose Additional</th>
                        <th>Remark</th>
                    </tr>
                </thead>
          @*      <tbody>
                    @if(Model != null)
                    {
                         @foreach(var proposal in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => proposal.BannerName)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.PlantCode)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.PlantName)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.PCMap)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.DescriptionMap)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.RatingRate)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.MonthlyBucket)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.CurrentBucket)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.NextBucket)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.ValidBJ)</td>
                            <td>@Html.DisplayFor(modelItem => proposal.RemFSA,  new {htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(modelItem => proposal.Rephase, new {htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(modelItem => proposal.ProposeAddional,  new {htmlAttributes = new { @class = "form-control" } })</td>
                            <td>@Html.EditorFor(modelItem => proposal.Remark,  new {htmlAttributes = new { @class = "form-control" } })</td>
                            @Html.HiddenFor(modelItem => proposal.WeeklyBucketId)
                        </tr>
                        }
                    }
                   
                </tbody>*@
            </table>
        </div>
    </div>
</div>

