@model IEnumerable<FSAWebSystem.Models.ApprovalDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BannerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SKUId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyBucket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBucket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextWeekBucket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidBJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemFSA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposeAdditional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BannerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKUId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyBucket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentBucket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextWeekBucket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidBJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemFSA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposeAdditional)
                </td>
            </tr>
        }
    </tbody>
</table>
