@model IEnumerable<FSAWebSystem.Models.Approval>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	var approvalPaginationUrl = '@Url.Action("GetApprovalPagination", "Approvals")';
	var approveUrl = '@Url.Action("ApproveProposal", "Approvals")';
	var rejectUrl = '@Url.Action("RejectProposal", "Approvals")';
	var indexUrl = '@Url.Action("Index", "Approvals")';
	var approvalDetailUrl = '@Url.Action("Details", "Approvals")';
</script>
<script src="~/js/Approval/dataTableApproval.js"></script>

<div class="text-danger">
	<ul id="error-messages"></ul>
</div>
<div class="card shadow mb-4 pt-4 pl-2">

	<div class="card-header py-3">
		<h5 class="m-0 font-weight-bold text-primary d-inline">
			Approval
		</h5>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTableApproval" width="100%" cellspacing="0">
				<thead>
					<tr class="text-center">
						<th class="align-middle">Submit Date</th>
						<th class="align-middle">Banner</th>
						<th class="align-middle">PC Map</th>
						<th class="align-middle">Description</th>
						<th class="align-middle">Propose Additional FSA</th>
						<th class="align-middle">Rephase</th>
						<th class="align-middle">Remark</th>
						<th class="align-middle">View</th>
					</tr>
				</thead>
			</table>
		</div>



	</div>



	<div class="modal fade" id="submitProposalModal" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Submit Proposal?
					</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Are you sure want to Submit Proposal?</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="submitProposalBtn"
							data-dismiss="modal">
						Submit
					</button>
				</div>
			</div>
		</div>
	</div>
</div>