@model FSAWebSystem.Models.FSACalendarHeader

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
		List<SelectListItem> listMonths = ViewData["listMonth"] as List<SelectListItem>;
	List<SelectListItem> listYears = ViewData["listYear"] as List<SelectListItem>;
}

<h1>Edit</h1>

<h4>FSACalendarHeader</h4>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
           <div class="form-group">
				<label asp-for="Month" class="control-label"></label>
				@Html.DropDownListFor(Model => Model.Month, listMonths, "Select Month", new {@class= "form-control form-select", @disabled = "disabled"})
				@Html.HiddenFor(Model => Model.Month)
				<span asp-validation-for="Month" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Year" class="control-label"></label>
				@Html.DropDownListFor(Model => Model.Year, listYears, "Select Year", new {@class= "form-control form-select", @disabled = "disabled"})
				@Html.HiddenFor(Model => Model.Year)
				<span asp-validation-for="Year" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Week</th>
								<th colspan=3 class="text-center">Range Date</th>
							</tr>
						</thead>
						<tbody>
							@for(var i = 0; i<Model.FSACalendarDetails.Count; i++)
							{
								<tr>
									<td><span>Week @Html.DisplayFor(Model => Model.FSACalendarDetails[i].Week)</span></td>
									<td>@Html.EditorFor(Model => Model.FSACalendarDetails[i].StartDate, new {htmlAttributes = new { @class = "form-control" } }) </td>
									<td>To</td>
									<td>@Html.EditorFor(Model => Model.FSACalendarDetails[i].EndDate, new {htmlAttributes = new { @class = "form-control" } }) </td>
									@Html.HiddenFor(Model => Model.FSACalendarDetails[i].Week)
									@Html.HiddenFor(Model => Model.FSACalendarDetails[i].Id)
									@Html.HiddenFor(Model => Model.FSACalendarDetails[i].Month)
									@Html.HiddenFor(Model => Model.FSACalendarDetails[i].Year)
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
        </form>
    </div>
</div>
